{% extends 'base.html.twig' %}
{% block title %}{{ 'malote.roteiro.edit-title'|trans({'%name%' : roteiro }) }}{% endblock %}

{% block menu %}
    {% embed '_menu.html.twig' %}
        {% block app_panel %}
            {% include 'malote/_app-menu.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock menu %}

{% block user_content %}
    <div class="content-wrapper">
        {{ parent() }} {# Printing Messages inside Wrapper Content #}
        <div class="container">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('malote_home') }}">{{ 'home'|trans }}</a></li>
                <li class="breadcrumb-item"><a href="{{ path('malote_roteiro_index') }}">{{ 'malote.roteiro.homepage'|trans }}</a>
                </li>
                <li class="breadcrumb-item">{{ 'edit'|trans }}</li>
            </ol>
            <div class="row">
                <div class="col-12">
                    <h1>{{ 'malote.roteiro.edit-title'|trans({'%name%' : roteiro }) }}</h1>

                    <div class="card mb-3">
                        <div class="card-header bg-apps-2">
                            <i class="fa fa-2x fa-edit fa-2x"></i>
                            {{ 'malote.roteiro.edit-form-title'|trans({'%name%' : roteiro })|raw }}</em></strong>
                        </div>
                        <div class="card-body form-with-cols">
                            {{ include('malote/roteiro/_form.html.twig') }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
