{% extends 'base.html.twig' %}

{% block title %}{{ 'malote.roteiro.homepage'|trans }}{% endblock %}

{% block menu %}
    {% embed '_menu.html.twig' %}
        {% block app_panel %}
            {% include 'malote/_app-menu.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock menu %}

{% block user_content %}
    <div class="content-wrapper">
        {{ parent() }} {# Printing Messages inside Wrapper Content #}
        <div class="container">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('malote_home') }}">{{ 'home'|trans }}</a></li>
                <li class="breadcrumb-item active">{{ 'malote.roteiro.list-name'|trans }}</li>
            </ol>
            <div class="row">
                <div class="col-12">
                    <h1>{{ 'malote.roteiro.list-title'|trans }}</h1>
                    <div class="card mb-3 border-apps-2">
                        <div class="card-header bg-apps-2">
                            <div class="row">
                                <div class="col-sm-8">
                                    <i class="fa fa-bank fa-2x"></i> {{ 'malote.roteiro.list-description'|trans }}
                                </div>
                                <div class="col-sm-auto text-right">
                                    {% if is_granted('ROLE_MASTER') %}
                                        <a class="btn btn-sm btn-info" href="{{ path('malote_roteiro_new') }}">
                                            <span class="fas fa-plus-circle"></span> {{ 'malote.roteiro.new'|trans }}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped compact"
                                       width="100%" cellspacing="0" data-role="paginatedDataTable">
                                    <thead class="bg-dark text-white">
                                    <tr>
                                        <th>{{ 'malote.roteiro.labels.agencia'|trans }}</th>
                                        <th>{{ 'malote.roteiro.labels.rota'|trans }}</th>
                                        <th>{{ 'fields.name.transportadora'|trans }}</th>
                                        <th>{{ 'malote.roteiro.labels.unidade'|trans }}</th>
                                        <th>{{ 'malote.roteiro.labels.frequencia'|trans }}</th>
                                        <th>{{ 'malote.roteiro.labels.malha'|trans }}</th>
                                        <th>{{ 'fields.name.lote'|trans }}</th>
                                        <th>{{ 'fields.name.status'|trans }}</th>
                                        <th>{{ 'actions'|trans }}</th>
                                    </tr>
                                    </thead>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if is_granted('ROLE_SUPERADMIN') %}
        <!-- Modal Inativar Roteiro -->
        <div class="modal fade" id="change-status-Modal" tabindex="-1" role="dialog"
             aria-labelledby="change-status-ModalLabel"
             aria-hidden="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-gradient-warning">
                        <h5 class="modal-title"
                            id="change-status-ModalLabel">{{ 'malote.roteiro.change-status.modal-title' | trans }}</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="{{ 'cancel'|trans }}">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">{{ 'malote.roteiro.change-status.modal-body'|trans|raw }}</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary cancel-btn" type="button"
                                data-dismiss="modal">{{ 'cancel'|trans }}</button>
                        <button class="btn btn-primary resend-btn" type="button">{{ 'malote.roteiro.change-status.send'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock user_content %}
{% block js_codes %}
    {{ parent() }}
    $paginatedDataTablesSource = '{{ path('malote_roteiro_json') }}';
    $paginatedDataTablesColumns = [
        { "data": "roteiro.agencia" },
        { "data": "roteiro.rota" },
        { "data": "roteiro.transportadora"},
        { "data": "roteiro.unidade"},
        { "data": "roteiro.frequencia"},
        { "data": "roteiro.malha.nome"},
        { "data": "roteiro.lote", "searchable": false},
        { "data": "roteiro.ativo", "searchable": false},
        { "data": "buttons", "searchable": false, "orderable": false, className: 'text-nowrap' }
    ];

    $fnRowCallback = function( row, data) {
        // Coluna Banco
        // Cor do texto da coluna ESTADO
        if ( data.roteiro.ativo) {
            $('td:eq(7)', row)
            .html('Ativo')
            .addClass( 'text-success');
        } else {
            $('td:eq(7)', row)
            .html('Inativo')
            .addClass( 'text-danger');
        }

    {% if is_granted('ROLE_MASTER') %}
        // Adicionando botões de edição e de exclusão
        $('td:eq(8)', row).html('<a class="btn btn-info btn-sm fas fa-edit"' +
            ' href="' + data.editUrl + '"' +
            ' title="{{ 'edit'|trans }}"></a>'
        {% if is_granted('ROLE_ADMIN') %}
            +
            '<span class="btn btn-sm fas fa-sync ' +
            ( data.roteiro.ativo ? 'btn-warning' : 'btn-success' ) +
            '" data-target="#change-status-Modal" data-tokenid="' + data.editToken +
            '" data-cadastroid="'+ data.roteiro.id + '" role="button"' +
            ' data-cadastro="' + data.roteiro.nome + '" data-toggle="modal"' +
            ' title="' + data.changetitle + '"></span>'
        {% endif %}
            );
        };
    {% endif %}
    {% if is_granted('ROLE_SUPERADMIN') %}
        var $workinText = '{{ 'working' | trans }}';
        var $statusChangePath = '{{ path('malote_roteiro_changestatus', {id: '_id'}) }}';
        var $modalBodyHTML = '{{ 'malote.roteiro.change-status.modal-body'|trans|raw }}';
        var $modalTitleText = '{{ 'malote.roteiro.change-status.modal-title' | trans }}';        
        var $closeText = '{{ 'close'|trans }}';        
        var $activeText = '{{ 'active'|trans }}';
        var $inactiveText = '{{ 'inactive'|trans }}';        
    {% endif %}    
{% endblock js_codes %}
