{% extends 'base.html.twig' %}

{% block title %}{{ 'malote.roteiro.homepage'|trans }}{% endblock %}

{% block menu %}
    {% embed '_menu.html.twig' %}
        {% block app_panel %}
            {% include 'malote/_app-menu.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock menu %}
{% block user_content %}
    <div class="content-wrapper">
        {{ parent() }} {# Printing Messages inside Wrapper Content #}
        <div class="container">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('malote_home') }}">{{ 'home'|trans }}</a></li>
                <li class="breadcrumb-item active">{{ 'malote.roteiro.list-name'|trans }}</li>
            </ol>
            <div class="row">
                <div class="col-12">
                    <h1>{{ 'malote.roteiro.list-title'|trans }}</h1>

                    <div class="card mb-3 border-apps-1">
                        <div class="card-header bg-apps-1">
                            <div class="row">
                                <div class="col-sm-8">
                                    <i class="fa fa-bank fa-2x"></i> {{ 'malote.roteiro.list-description'|trans }}
                                </div>
                                <div class="col-sm-auto text-right">
                                    {% if is_granted('ROLE_MASTER') %}
                                        <a class="btn btn-sm btn-info" href="{{ path('malote_roteiro_new') }}">
                                            <span class="fas fa-plus-circle"></span> {{ 'malote.roteiro.new'|trans }}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            {% if roteiros|length > 0 %}
                                <div class="table-responsive">
                                    <table class="table table-bordered dataTable table-striped compact form-group"
                                           width="100%" cellspacing="0">
                                        <thead class="bg-dark text-white">
                                            <tr>
                                                <th>{{ 'malote.roteiro.labels.agencia'|trans }}</th>
                                                <th>{{ 'malote.roteiro.labels.rota'|trans }}</th>
                                                <th>{{ 'fields.name.transportadora'|trans }}</th>
                                                <th>{{ 'malote.roteiro.labels.unidade'|trans }}</th>
                                                <th>{{ 'malote.roteiro.labels.frequencia'|trans }}</th>
                                                <th>{{ 'created-at'|trans }}</th>
                                                <th>{{ 'fields.name.lote'|trans }}</th>
                                                <th>{{ 'fields.name.status'|trans }}</th>
                                                <th>{{ 'actions'|trans }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for roteiro in roteiros %}
                                            <tr>
                                                <td>{{ roteiro.agencia.nome }}</td>
                                                <td>{{ roteiro.rota }}</td>
                                                <td>{{ roteiro.transportadora.nome }}</td>
                                                <td>{{ roteiro.unidade.nome }}</td>
                                                <td>{{ roteiro.frequencia }}</td>
                                                <td>{{ roteiro.criado_em }}</td>
                                                <td>{{ roteiro.lote }}</td>
                                                <td><span class="text-success{{ roteiro.ativo ? '' : ' text-danger' }} cadastro"
                                                          data-cadastroid="{{ roteiro.id }}">{{ (roteiro.ativo ? 'active' : 'inactive')|trans }}</span>
                                                </td>
                                                <td>
                                                    <a class="btn btn-info btn-sm fas fa-edit"
                                                       href="{{ path('malote_roteiro_edit', {'id' : roteiro.id}) }}"
                                                       title="{{ 'edit'|trans }}"></a>

                                                    {% if is_granted('ROLE_SUPERADMIN') %}
                                                        <span class="btn btn-sm fa {{ roteiro.ativo ?
                                                        'fa-minus-circle btn-danger' :
                                                        'fa-plus-circle btn-success' }}"
                                                              data-target="#change-status-Modal"
                                                              data-tokenid="{{ csrf_token('put' ~ roteiro.id) }}"
                                                              data-cadastroid="{{ roteiro.id }}" role="button"
                                                              data-cadastro="{{ roteiro.nome }}" data-toggle="modal"
                                                              title="{{ 'malote.roteiro.change-status.title'|trans({'%name%': roteiro.nome}) }}">
                                                        </span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <div class="alert-warning">{{ 'empty-result'|trans }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% if is_granted('ROLE_SUPERADMIN') %}
        <!-- Modal Inativar Roteiro -->
        <div class="modal fade" id="change-status-Modal" tabindex="-1" role="dialog"
             aria-labelledby="change-status-ModalLabel"
             aria-hidden="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-gradient-warning">
                        <h5 class="modal-title"
                            id="change-status-ModalLabel">{{ 'malote.roteiro.change-status.modal-title' | trans }}</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="{{ 'cancel'|trans }}">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">{{ 'malote.roteiro.change-status.modal-body'|trans|raw }}</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary cancel-btn" type="button"
                                data-dismiss="modal">{{ 'cancel'|trans }}</button>
                        <button class="btn btn-primary resend-btn" type="button">{{ 'malote.roteiro.change-status.send'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock user_content %}
{% block js_codes %}
    {% if is_granted('ROLE_SUPERADMIN') %}
        var $workinText = '{{ 'working' | trans }}';
        var $statusChangePath = '{{ path('malote_roteiro_changestatus', {id: '_id'}) }}';
        var $closeText = '{{ 'close'|trans }}';
        var $modalBodyHTML = '{{ 'malote.roteiro.change-status.modal-body'|trans|raw }}';
        var $activeText = '{{ 'active'|trans }}';
        var $inactiveText = '{{ 'inactive'|trans }}';
        var $modalTitleText = '{{ 'malote.roteiro.change-status.modal-title' | trans }}';
    {% endif %}

{% endblock js_codes %}