{% extends 'base.html.twig' %}

{% block title %}{{ 'malote.roteiro.new-title'|trans }}{% endblock %}

{% block menu %}
    {% embed '_menu.html.twig' %}
        {% block app_panel %}
            {% include 'malote/_app-menu.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock menu %}

{% block user_content %}
    <div class="content-wrapper">
        {{ parent() }} {# Printing Messages inside Wrapper Content #}
        <div class="container">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('malote_home') }}">{{ 'malote.homepage'|trans }}</a></li>
                <li class="breadcrumb-item"><a href="{{ path('malote_roteiro_index') }}">{{ 'malote.roteiro.list-name'|trans }}</a>
                </li>
                <li class="breadcrumb-item">{{ 'new'|trans }}</li>
            </ol>
            <div class="row">
                <div class="col-12">
                    <h1>{{ 'malote.roteiro.new-title'|trans }}</h1>

                    <div class="card mb-3 border-apps-2">
                        <div class="card-header bg-apps-2">
                            <div class="row">
                                <div class="col-8">
                                    <i class="fa fa-2x fa-plus-circle fa-2x"></i>
                                    {{ 'malote.roteiro.new-form-title'|trans }}
                                </div>
                                <div class="col-auto text-right">
                                    {% if is_granted('ROLE_MASTER') %}
                                        <a class="btn btn-sm btn-info" href="{{ path('malote_roteiro_load_xlsfile') }}">
                                            <span class="fas fa-plus-circle"></span>
                                            {{ 'malote.roteiro.load-xlsfile'|trans }}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="card-body form-with-cols">
                            {{ include('malote/roteiro/_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
