{% block form_row %}
    <div class="form-group row">
        {{ form_label(form, null, {'label_attr': {'class':'col-form-label col-2 text-right'}}) }}
        <div class="col-9">
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock %}

{%- block form_label -%}
    {% set asterisc = '' %}
    {% if required -%}
        {% set asterisc = '<span class="required">*</span>' %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim, 'title':'This field is required'}) %}
    {%- endif -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize ~ asterisc %}
            {%- endif -%}
        {%- else -%}
            {% set label = (translation_domain is same as(false) ? label ~ asterisc: label|trans({}, translation_domain)) ~ asterisc %}
        {%- endif -%}

        <{{ element|default('label') }}
            {% if label_attr %}
                {% with { attr: label_attr } %}
                    {{ block('attributes') }}
                {% endwith %}
            {% endif %}>
            {{ label|raw }}

        </{{ element|default('label') }}>
    {%- endif -%}
{% endblock form_label %}