{% block autocomplete_juncao_widget %}
    {% spaceless %}
        <div class="typeahead__container bg-gradient-danger">
            <div class="typeahead__field">
                <div class="typeahead__query">
                    {{ form_widget(form) }}
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}
{% block _bulk_registry_registry_errors %}
    {%- if errors|length > 0 -%}
        <div class="alert alert-danger">
            <ul class="list-unstyled mb-0">
                {%- for error in errors -%}
                    <li>{{ error.message }}</li>
                {%- endfor -%}
            </ul>
        </div>
    {%- endif %}
{% endblock %}

{% block _bulk_registry_registry_row %}
    <div class="form-group row">
        {{ form_label(form, null, {'label_attr': {'class':'col-form-label col-3 text-right'}}) }}
        <div class="col-9">
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock %}


{% block form_row %}
    <div class="form-group row">
        {{ form_label(form, null, {'label_attr': {'class':'col-form-label col-3 text-right'}}) }}
        <div class="col-9">
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock %}

{% block _application_options_entry_row %}
    <div class="form-group row">
        <div class="col">
            {{ form_label(form, null, {'label_attr': {'class':'col-form-label'}}) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock %}

{% block _application_options_widget %}
    <fieldset>
        {{ form_widget(form) }}
    </fieldset>
{% endblock %}

{% block button_errors %}{# Avoiding form_errors(button) empty block error #}{% endblock %}

{% block row_with_cols_widget %}
    <fieldset>
        <div class="form-group row form-control-sm">
            {% for key, field in form.children %}
                <div class="col">
                    {{ form_errors(field) }}
                    {{ form_label(field) }}
                    {{ form_widget(field) }}
                </div>
            {% endfor %}
        </div>
    </fieldset>
{% endblock %}

{% block _application_row_col_entry_widget %}
    {{ block('row_with_cols_widget') }}
{% endblock %}

{% block _application_row_col_entry_row_col_widget %}
    {{ form_widget(form) }}
{% endblock %}

{% block _user_application_options_entry_widget %}
    {{ block('row_with_cols_widget') }}
{% endblock %}

{% block _application_options_entry_widget %}
    {{ block('row_with_cols_widget') }}
{% endblock %}


{%- block form_label -%}
    {% set asterisc = '' %}
    {% if required -%}
        {% set asterisc = '<span class="required">*</span>' %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim, 'title':'This field is required'}) %}
    {%- endif -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize ~ asterisc %}
            {%- endif -%}
        {%- else -%}
            {% set label = (translation_domain is same as(false) ? asterisc ~ label : asterisc ~ label|trans({}, translation_domain)) %}
        {%- endif -%}

        <{{ element|default('label') }}
            {% if label_attr %}
                {% with { attr: label_attr } %}
                    {{ block('attributes') }}
                {% endwith %}
            {% endif %}>
            {{ label|raw }}

        </{{ element|default('label') }}>
    {%- endif -%}
{% endblock form_label %}

{# #}
{%- block submit_row -%}
    <div class="form-group">
        {{- form_widget(form, {'attr': {'class': attr.class|default('btn')}}) -}}
    </div>
{%- endblock submit_row %}

{# #}

{% block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="alert alert-danger">
            <ul class="list-unstyled mb-0">
                {%- for error in errors -%}
                    <li>{{ error.message }}</li>
                {%- endfor -%}
            </ul>
        </div>
    {%- endif %}
{%- endblock form_errors %}