{% extends 'base.html.twig' %}

{% form_theme form 'form/horizontal-form-fields.html.twig' %}

{% block title %}{{ 'localidade.feriado.edit-form-title'|trans }}{% endblock %}

{% block menu %}
    {% embed '_menu.html.twig' %}
        {% block app_panel %}
            {% include 'localidade/_app-menu.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock menu %}

{% block user_content %}
    <div class="content-wrapper">
        {{ parent() }} {# Printing Messages inside Wrapper Content #}
        <div class="container">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('localidade_home') }}">{{ 'home'|trans }}</a></li>
                <li class="breadcrumb-item"><a href="{{ path('localidade_feriado_index') }}">{{ 'localidade.feriado.index'|trans }}</a>
                </li>
                <li class="breadcrumb-item">{{ 'edit'|trans }}</li>
            </ol>
            <div class="row">
                <div class="col-12">
                    <h1>{{ 'localidade.feriado.edit-title'|trans|raw }}</h1>

                    <div class="card mb-3 border-apps-5">

                        <div class="card-header bg-apps-5 text-secondary">
                            <div class="row">
                                <div class="col-sm-8">
                                    <i class="fas fa-2x fa-plus-circle fa-2x"></i>
                                    {{ 'localidade.feriado.edit-form-title'|trans({'%name%':feriado.descricao})|raw }}
                                </div>
                            </div>
                        </div>

                        <div class="card-body form-with-cols">
                            {{ include('localidade/feriado/_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
