{% extends 'base.html.twig' %}

{% block title %}Feriado{% endblock %}

{% block body %}
    <h1>Feriado</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ feriado.id }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ feriado.tipo }}</td>
            </tr>
            <tr>
                <th>Dt_feriado</th>
                <td>{{ feriado.dtFeriado ? feriado.dtFeriado|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Descricao</th>
                <td>{{ feriado.descricao }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('localidade_feriado_index') }}">back to list</a>

    <a href="{{ path('localidade_feriado_edit', {'id': feriado.id}) }}">edit</a>

    {{ include('localidade/feriado/_delete_form.html.twig') }}
{% endblock %}