{% extends 'layout.html.twig' %}
{% block title 'reset-password.title' | trans %}
{% block menu %}{% endblock menu %}
{% block user_content %}
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">
            <div class="card-body-icon text-muted o-hidden ">
                <i class="fa fa-fw fa-user-circle-o"></i>
            </div>
            {{ 'reset-password.title'| trans }}
        </div>
        <div class="card-body">
            <div class="text-center mt-4 mb-5">
                <p>{{ 'reset-password.message' |trans }}</p>
            </div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block footer %}
    <div id="no-menu-footer">
        {{ parent() }}
    </div>
{% endblock footer %}