{% extends 'layout.html.twig' %}
{% block menu %}{% endblock menu %}
{% block user_content %}
    {{ parent() }}
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">
                <div class="card-body-icon text-muted o-hidden ">
                    <i class="fa fa-fw fa-user-circle-o"></i>
                </div>
                Complemente suas informações
            </div>
            <div class="card-body">
                <div class="text-center mt-4 mb-5">
                    <p>Preencha os campos abaixo para completar o seu cadastro</p>
                </div>
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_widget(form) }}

                <div class="row col-lg-12">
                    <div class="form-group col-lg-12">
                        {{ form_widget(form.submit) }}
                    </div>
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}