{% extends 'base.html.twig' %}

{% block title 'change-password.title'|trans %}

{% block user_content %}
<div class="container">
    <div class="card card-login mx-auto mt-5 bg-gradient-card-primary">
        <div class="card-header">
            <div class="card-body-icon text-muted o-hidden ">
                <i class="fa fa-fw fa-question-circle-o"></i>
            </div>
            <h5>{{ 'forgot-password.title'|trans }}</h5>
        </div>
        <div class="card-body">
            <div class="text-center mt-4 mb-5">
                <h4>{{ 'forgot-password.message_1'|trans }}</h4>
                <p>{{ 'forgot-password.message_2'|trans }}</p>
            </div>
            {{ form_start(form) }}
                {{ form_errors(form) }}

                {{ form_row(form.username, {'label_attr': {'class':'col-sm-3'}}) }}
                {{ form_rest(form) }}
                <button class="btn btn-primary btn-block" type="submit">
                    <i class="fa fa-envelope-o"></i> Enviar instruções</button>
            {{ form_end(form) }}
            <div class="text-center">
                <a class="d-block small mt-3" href="{{ path('login') }}">Página de Autenticação</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}