{% extends 'base.html.twig' %}

{% block title 'Verificação de Código de Acesso' %}

{% block my_CSS %}
    <style>
        #no-menu-footer footer.sticky-footer { width: 100%; }
    </style>
{% endblock my_CSS %}

{% block user_content %}

<div class="card card-login mx-auto mt-5 bg-gradient-card-primary">
    <div class="card-header">
        <div class="card-body-icon text-muted o-hidden ">
            <i class="fa fa-fw fa-key"></i>
        </div>
        <h5>Verificação de Código de Acesso</h5>
    </div>
    <div class="card-body">
        <div class="text-center mt-4 mb-5">
            <h4>Recebeu um código para acesso?</h4>
            <p>Entre com o código de acesso que recebeu.</p>
        </div>

        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.code) }}
        {{ form_rest(form) }}
            <button type="submit" class="btn btn-primary btn-block">
                <i class="fa fa-check-circle-o"></i> Verificar Código</button>
        </form>
        <div class="text-center">
            <a href="{{ path('login') }}" class="d-block small mt-3">Página de autenticação</a>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
    <div id="no-menu-footer">
        {{ parent() }}
    </div>
{% endblock footer %}