{% extends 'base.html.twig' %}
{% block user_content %}
    <div class="central-container">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ 'lost-password.title'| trans }}</h3>
                        </div>
                        <div class="panel-body">
                            <p class="text-info well well-sm">
                                {{ 'lost-password.message' |trans }}
                            </p>
                            <blockquote>
                                <small class="text-warning">
                                    {{ 'lost-password.anti-spam-message'|trans({'%support_name%': mail.name, '%suport_email%': mail.address })|raw }}
                                </small>
                            </blockquote>
                            {{ form_start(form) }}
                            {{ form_errors(form) }}

                            {{ form_row(form.username) }}
                            {{ form_rest(form) }}


                            <div class="row col-lg-12">
                                <div class="form-group col-lg-12">
                                    <button type="submit"
                                            class="btn btn-info btn-primary">{{ 'lost-password.submit'|trans }}</button>
                                    <a href="{{ url('login') }}"
                                       class="btn btn-default">{{ 'lost-password.back'|trans }}</a>
                                </div>
                            </div>

                            {{ form_end(form) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
