{% extends 'base.html.twig' %}
{% block title 'reset-password.title' | trans %}

{% block user_content %}
    <div class="content-wrapper">
        {{ parent() }} {# Printing Messages inside Wrapper Content #}
        <div class="container">
            <div class="card card-login mx-auto mt-3 bg-gradient-card-primary">
                <div class="card-header bg-change-pass">
                    <div class="card-body-icon text-muted o-hidden ">
                        <i class="fa fa-fw fa-user-circle-o"></i>
                    </div>
                    <h5>{{ 'reset-password.title'| trans }}</h5>
                </div>
                <div class="card-body">
                    <div class="text-center mt-2 mb-3">
                        <p>{{ 'reset-password.message' |trans }}</p>
                    </div>
                    {{ form(form) }}
                    <a class="btn btn-block btn-secondary" href="{{ path('home') }}">{{ 'cancel'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div id="no-menu-footer">
        {{ parent() }}
    </div>
{% endblock footer %}