{% extends 'base.html.twig' %}
{% form_theme form 'form/horizontal-form-fields.html.twig' %}
{% block title %}{{ 'agencia.edit-title'|trans({'%name%' : agencium.nome }) }}{% endblock %}

{% block menu %}
    {% embed '_menu.html.twig' %}
        {% block app_panel %}
            {% include 'agencias/_app-menu.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock menu %}

{% block user_content %}
    <div class="content-wrapper">
        {{ parent() }} {# Printing Messages inside Wrapper Content #}
        <div class="container">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('home') }}">{{ 'home'|trans }}</a></li>
                <li class="breadcrumb-item"><a href="{{ path('list-agencias') }}">{{ 'agencia.list-name'|trans }}</a>
                </li>
                <li class="breadcrumb-item">{{ 'edit'|trans }}</li>
            </ol>
            <div class="row">
                <div class="col-12">
                    <h1>{{ 'agencia.edit-title'|trans({'%name%' : agencium.nome }) }}</h1>

                    <div class="card mb-3">
                        <div class="card-header bg-apps-2">
                            <i class="fa fa-2x fa-edit fa-2x"></i>
                            {{ 'agencia.edit-form-title'|trans({'%name%' : agencium.nome })|raw }}</em></strong>
                        </div>
                        <div class="card-body form-with-cols">
                            {{ include('agencias/agencia/_form.html.twig') }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
