{{ form_start(form) }}

<div class="form-group row">
    {{ form_label(form.nome, null, {'label_attr': {'class':'col-form-label col-sm-2 text-right'}}) }}
    <div class="col-sm-10">
        {{ form_errors(form.nome) }}
        {{ form_widget(form.nome) }}
    </div>

</div>

<div class="form-group row">

    {{ form_label(form.codigo, null, {'label_attr': {'class':'col-form-label col-sm-2 text-right'}}) }}
    <div class="col-sm-10">
        {{ form_errors(form.codigo) }}
        {{ form_widget(form.codigo) }}
    </div>
</div>
<div class="form-group row">

    {{ form_label(form.cnpj, null, {'label_attr': {'class':'col-form-label col-sm-2 text-right'}}) }}
    <div class="col-sm-10">
        {{ form_errors(form.cnpj) }}
        {{ form_widget(form.cnpj) }}
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
        {{ form_widget(form.is_active) }}
    </div>
</div>

<button class="btn btn-primary col-md-2" type="submit"><i
            class="fa fa-save"></i> {{ button_label|default('save')|trans }}</button>
<a class="btn btn-secondary col-md-2" href="{{ path('agencias_banco_index') }}"><i
            class="fa fa-close"></i> {{ button_label|default('cancel')|trans }}</a>
{{ form_end(form) }}