{% extends 'base.html.twig' %}

{% block title %}{{ 'banco.new-title'|trans }}{% endblock %}

{% block menu %}
    {% embed '_menu.html.twig' %}
        {% block app_panel %}
            {% include 'agencias/_app-menu.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock menu %}

{% block user_content %}
    <div class="content-wrapper">
        {{ parent() }} {# Printing Messages inside Wrapper Content #}
        <div class="container">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('home') }}">{{ 'home'|trans }}</a></li>
                <li class="breadcrumb-item"><a href="{{ path('main_application_index') }}">{{ 'banco.list-name'|trans }}</a>
                </li>
                <li class="breadcrumb-item">{{ 'new'|trans }}</li>
            </ol>
            <div class="row">
                <div class="col-12">
                    <h1>{{ 'banco.new-title'|trans }}</h1>

                    <div class="card mb-3 border-apps-2">
                        <div class="card-header bg-apps-2">
                            <i class="fa fa-2x fa-plus-circle fa-2x"></i> {{ 'banco.new-form-title'|trans }}
                        </div>
                        <div class="card-body form-with-cols">
                            {{ include('agencias/banco/_form.html.twig') }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
