{% extends 'base.html.twig' %}

{% block title %}Malote{% endblock %}

{% block body %}
    <h1>Malote</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ malote.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ malote.numero }}</td>
            </tr>
            <tr>
                <th>Ativo</th>
                <td>{{ malote.ativo ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ malote.tipo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('malote_malote_index') }}">back to list</a>

    <a href="{{ path('malote_malote_edit', {'id': malote.id}) }}">edit</a>

    {{ include('malote_malote/_delete_form.html.twig') }}
{% endblock %}