{{ form_start(form) }}

{{ form_row(form.regiao) }}

<div class="form-group row">
    {{ form_label(form.nome, null, {'label_attr': {'class':'col-form-label col-sm-2 text-right'}}) }}
    <div class="col-sm-4">
        {{ form_errors(form.nome) }}
        {{ form_widget(form.nome) }}
    </div>

    {{ form_label(form.sigla, null, {'label_attr': {'class':'col-form-label col-sm-2 text-right'}}) }}
    <div class="col-sm-2">
        {{ form_errors(form.sigla) }}
        {{ form_widget(form.sigla) }}
    </div>
</div>

{{ form_row(form.ativo) }}

<button class="btn btn-primary col-4" type="submit"><i
            class="fa fa-save"></i> {{ button_label|default('save')|trans }}</button>
<a class="btn btn-secondary col-4" href="{{ path('list-uf') }}"><i
            class="fa fa-close"></i> {{ button_label|default('cancel')|trans }}</a>
{{ form_end(form) }}
