{{ form_start(form) }}
{{ form_widget(form) }}
<div class="row form-group justify-content-md-center">
    <button class="btn btn-primary col-4" type="submit">
        <i class="fa fa-save"></i> {{ button_label|default('save')|trans }}
    </button>
    <a class="btn btn-secondary col-4" href="{{ path('localidade_cidade_index') }}">
        <i class="fa fa-close"></i> {{ button_label|default('cancel')|trans }}
    </a>
</div>
{{ form_end(form) }}
