{% extends 'base.html.twig' %}

{% block title %}{{ 'localidade.cidade.homepage'|trans }}{% endblock %}

{% block menu %}
    {% embed '_menu.html.twig' %}
        {% block app_panel %}
            {% include 'localidade/_app-menu.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock menu %}
{% block user_content %}
    <div class="content-wrapper">
        {{ parent() }} {# Printing Messages inside Wrapper Content #}
        <div class="container">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('localidade') }}">{{ 'home'|trans }}</a></li>
                <li class="breadcrumb-item active">{{ 'localidade.cidade.list-name'|trans }}</li>
            </ol>
            <div class="row">
                <div class="col-12">
                    <h1>{{ 'localidade.cidade.list-title'|trans }}</h1>

                    <div class="card mb-3 border-apps-4">
                        <div class="card-header bg-apps-4 text-white">
                            <div class="row">
                                <div class="col-sm-8">
                                    <i class="fa fa-building-o fa-2x"></i> {{ 'localidade.cidade.list-description'|trans }}
                                </div>
                                <div class="col-sm-auto text-right">
                                    {% if is_granted('ROLE_MASTER') %}
                                    <a class="btn btn-sm btn-info" href="{{ path('new-cidade') }}">
                                        <span class="fa fa-plus-circle"></span> {{ 'localidade.cidade.new'|trans }}
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped"
                                           width="100%" cellspacing="0" data-role="paginatedDataTable">
                                        <thead class="bg-dark text-white">
                                        <tr>
                                            <th>{{ 'localidade.cidade.labels.nome'|trans }}</th>
                                            <th>{{ 'localidade.cidade.labels.abreviacao'|trans }}</th>
                                            <th>{{ 'localidade.cidade.labels.uf'|trans }}</th>
                                            <th>{{ 'localidade.cidade.labels.codigo'|trans }}</th>
                                            <th>{{ 'localidade.cidade.labels.status'|trans }}</th>
                                            <th>{{ 'actions'|trans }}</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <!-- Modal Inativar Cidade -->
        <div class="modal fade" id="change-status-Modal" tabindex="-1" role="dialog"
             aria-labelledby="change-statusModalLabel"
             aria-hidden="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-gradient-warning">
                        <h5 class="modal-title"
                            id="change-statusModalLabel">{{ 'localidade.change-status.modal-title' | trans }}</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="{{ 'cancel'|trans }}">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">{{ 'localidade.change-status.modal-body'|trans|raw }}</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary cancel-btn" type="button"
                                data-dismiss="modal">{{ 'cancel'|trans }}</button>
                        <button class="btn btn-primary resend-btn" type="button">{{ 'change-status'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Delete Cidade -->
        <div class="modal fade" id="delete-Modal" tabindex="-1" role="dialog"
             aria-labelledby="deleteModalLabel"
             aria-hidden="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-gradient-danger">
                        <h5 class="modal-title"
                            id="deleteModalLabel">{{ 'localidade.delete.modal-title' | trans }}</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="{{ 'cancel'|trans }}">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">{{ 'localidade.delete.modal-body'|trans|raw }}</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary cancel-btn" type="button"
                                data-dismiss="modal">{{ 'cancel'|trans }}</button>
                        <button class="btn btn-primary delete-btn" type="button">{{ 'delete'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock user_content %}
{% block js_codes %}
    var $paginatedDataTablesSource = '{{ path('list-cidades-json') }}';
    var $paginatedDataTablesColumns = [
        { "data": "nome" },
        { "data": "abreviacao" },
        { "data": "uf"},
        { "data": "codigo"},
        { "data": "ativo", "searchable": false},
        { "data": "buttons", "searchable": false, "orderable": false, className: 'text-nowrap' }
    ];

    var $fnCreatedRow = function(row, data, dataIndex) { return null;};
    var $fnRowCallback = function( row, data) {
        // Cor do texto da coluna ESTADO
        if ( data.ativo == "Ativo" ) {
            $('td:eq(4)', row).addClass( 'text-success');
        } else {
            $('td:eq(4)', row).addClass( 'text-danger');
        }

        // Adicionando botões de edição e de exclusão
        $('td:eq(5)', row).html('<a class="btn btn-info btn-sm fa fa-edit"' +
            ' href="' + data.editUrl + '"' +
            ' title="{{ 'edit'|trans }}"></a>'
{% if is_granted('ROLE_SUPERADMIN') %}
        +
        '<span class="btn btn-sm fa fa-refresh ' +
        ( data.ativo == 'Ativo' ? 'btn-warning' : 'btn-success' ) +
        '" data-target="#change-status-Modal" data-tokenid="' + data.editToken +
        '" data-cadastroid="'+ data.id + '" role="button"' +
        ' data-cadastro="' + data.nome + '" data-toggle="modal"' +
        ' title="' + data.changetitle + '"></span>' +
        ' <span class="btn btn-sm btn-danger fa fa-minus-circle" ' +
        '  data-target="#delete-Modal"  data-tokenid="'+ data.deleteToken +
        '" data-cadastroid="'+ data.id + '" role="button"' +
        '" data-cadastro="' + data.nome + '" data-toggle="modal"' +
        ' title="' + data.deltitle + '"></span>'
{% endif %}
        );


    };


    {% if is_granted('ROLE_SUPERADMIN') %}
        {{ parent() }}

        var $statusChangePath = '{{ path('change-status-cidade', {id: '_id'}) }}';
        var $modalBodyHTML = '{{ 'localidade.change-status.modal-body'|trans|raw }}';
        var $modalTitleText = '{{ 'localidade.change-status.modal-title' | trans }}';

        var $deletePath = '{{ path('delete-cidade', {id: '_id'}) }}';
        var $deleteModalBodyHTML = '{{ 'localidade.delete.modal-body'|trans|raw }}';
        var $deleteModalTitleText = '{{ 'localidade.delete.modal-title' | trans }}';
    {% endif %}

{% endblock js_codes %}