{{ form_start(form) }}

{{ form_row(form.transportadora) }}
{{ form_row(form.operador) }}
{{ form_row(form.juncao) }}
<div class="form-group row">
    {{ form_label(form.solicitacao, null, {'label_attr': {'class':'col-form-label col-2 text-right'}}) }}
    <div class="col-4">
        {{ form_errors(form.solicitacao) }}
        {{ form_widget(form.solicitacao) }}
    </div>
    {{ form_label(form.grm, null, {'label_attr': {'class':'col-form-label col-2 text-right'}}) }}
    <div class="col-3">
        {{ form_errors(form.grm) }}
        {{ form_widget(form.grm) }}
    </div>
</div>

<div class="form-group row">

    {{ form_label(form.qt_vol, null, {'label_attr': {'class':'col-form-label col-2 text-right'}}) }}
    <div class="col-2">
        {{ form_errors(form.qt_vol) }}
        {{ form_widget(form.qt_vol) }}
    </div>

    {{ form_label(form.valor, null, {'label_attr': {'class':'col-form-label col-1 text-right'}}) }}
    <div class="col-3">
        {{ form_errors(form.valor) }}
        {{ form_widget(form.valor) }}
    </div>

    {{ form_label(form.peso, null, {'label_attr': {'class':'col-form-label col-1 text-right'}}) }}
    <div class="col-2">
        {{ form_errors(form.peso) }}
        {{ form_widget(form.peso) }}
    </div>
</div>
<div class="form-group row">
    {{ form_label(form.cte, null, {'label_attr': {'class':'col-form-label col-2 text-right'}}) }}
    <div class="col-4">
        {{ form_errors(form.cte) }}
        {{ form_widget(form.cte) }}
    </div>
    {{ form_label(form.dt_emissao_cte, null, {'label_attr': {'class':'col-form-label col-2 text-right'}}) }}
    <div class="col-3">
        {{ form_errors(form.dt_emissao_cte) }}
        {{ form_widget(form.dt_emissao_cte) }}
    </div>
</div>

<div class="form-group row">
    {{ form_label(form.dt_coleta, null, {'label_attr': {'class':'col-form-label col-2 text-right'}}) }}
    <div class="col-3">
        {{ form_errors(form.dt_coleta) }}
        {{ form_widget(form.dt_coleta) }}
    </div>
    {{ form_label(form.dt_varredura, null, {'label_attr': {'class':'col-form-label col-3 text-right'}}) }}
    <div class="col-3">
        {{ form_errors(form.dt_varredura) }}
        {{ form_widget(form.dt_varredura) }}
    </div>
</div>

<div class="form-group row">
    {{ form_label(form.recebedor, null, {'label_attr': {'class':'col-form-label col-2 text-right'}}) }}
    <div class="col-4">
        {{ form_errors(form.recebedor) }}
        {{ form_widget(form.recebedor) }}
    </div>
    {{ form_label(form.doc_recebedor, null, {'label_attr': {'class':'col-form-label col-2 text-right'}}) }}
    <div class="col-3">
        {{ form_errors(form.doc_recebedor) }}
        {{ form_widget(form.doc_recebedor) }}
    </div>
</div>

{{ form_row(form.observacao) }}

<div class="form-group row">
    {{ form_label(form.status, null, {'label_attr': {'class':'col-form-label col-2 text-right'}}) }}
    <div class="col-4">
        {{ form_errors(form.status) }}
        {{ form_widget(form.status) }}
    </div>
</div>

<div class="row form-group justify-content-md-center">
    <div class="col-4">
        <button class="btn btn-primary btn-block" type="submit">
            <i class="fa fa-save"></i> {{ button_label|default('save')|trans }}
        </button>
    </div>
    <div class="col-4">
        <a class="btn btn-secondary btn-block" href="{{ path('gefra_envio_index') }}">
            <i class="fa fa-close"></i> {{ button_label|default('cancel')|trans }}
        </a>
    </div>
</div>


{{ form_end(form) }}

<script type="text/javascript">
    $typeaheadInput = '#envio_juncao';
    $typeahedRemoteUrl = '{{ path('gefra_juncao_list_json') }}';
    $typeaheadTemplate = "<small style='color:#999;'>{{ '[{{codigo}}] {{nome}} - {{cidade}}/{{uf}}' }}</small>";
    $typeaheadBackdrop = { "background-color": "#eeeeee" };
    $typeaheadEmptyTemplate = "{{ 'fields.name.empty-list' | trans }}";
    $typeaheadSource = {
        juncao: {
            display: ["codigo", "nome", "cidade"],
            ajax: function (query) {
                return {
                    type: "POST",
                    url: '{{ path('gefra_juncao_list_json') }}',
                    path: "juncao",
                    data: {
                        "search[value]": "{{ '{{query}}' }}",
                        "length" : "40",
                    },
                    callback: {
                        done: function (res) {
                            var d = {};
                            d.juncao = [];
                            jQuery(res.data).each(function(index, value) {
                                d.juncao.push(value.juncao);
                            });
                            return d;
                        }
                    }
                }
            }
        }
    };
    $typeaheadCallback = {
        onClickAfter: function (node, a, item, event) {
            event.preventDefault();
            jQuery(node).val("[" + item.codigo + "] " + item.nome + ' - ' + item.cidade + '/' + item.uf);
        }
    };
</script>