{{ form_start(form) }}

<div class="form-group row">
    {{ form_label(form.banco, null, {'label_attr': {'class':'col-form-label col-2 text-right'}}) }}
    <div class="col-5">
        {{ form_errors(form.banco) }}
        {{ form_widget(form.banco) }}
    </div>
</div>
<div class="form-group row">
    {{ form_label(form.nome, null, {'label_attr': {'class':'col-form-label col-2 text-right'}}) }}
    <div class="col-9">
        {{ form_errors(form.nome) }}
        {{ form_widget(form.nome) }}
    </div>
</div>
<div class="form-group row">
    {{ form_label(form.codigo, null, {'label_attr': {'class':'col-form-label col-2 text-right'}}) }}
    <div class="col-4">
        {{ form_errors(form.codigo) }}
        {{ form_widget(form.codigo) }}
    </div>

    {{ form_label(form.uf, null, {'label_attr': {'class':'col-form-label col-1 text-right'}}) }}
    <div class="col-4">
        {{ form_errors(form.uf) }}
        {{ form_widget(form.uf) }}
    </div>
</div>


<div class="form-group row">
    {{ form_label(form.cidade, null, {'label_attr': {'class':'col-form-label col-2 text-right'}}) }}
    <div class="col-sm-9">
        {{ form_errors(form.cidade) }}
        {{ form_widget(form.cidade) }}
    </div>
</div>

{{ form_widget(form) }}
<div class="row form-group justify-content-md-center">
    <div class="col-4">
        <button class="btn btn-primary btn-block " type="submit">
            <i class="fa fa-save"></i> {{ button_label|default('save')|trans }}
        </button>
    </div>
    <div class="col-4">
        <a class="btn btn-secondary btn-block" href="{{ path('gefra_juncao_index') }}">
            <i class="fa fa-close"></i> {{ button_label|default('cancel')|trans }}
        </a>
    </div>
</div>
{{ form_end(form) }}
