{% extends 'base.html.twig' %}

{% block user_content %}
    <div class="content-wrapper">
        {{ parent() }} {# Printing Messages inside Wrapper Content #}
        <div class="container">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">/{{ 'homepage.breadcrumb'|trans }}</li>
            </ol>
            <div class="col-12">
                    <h1>{{ app.user.name }} - <small>{{ 'homepage.title'|trans }}</small></h1>

                    <p>{{ 'homepage.description'|trans }}</p>

                <div class="row">
{#  ROLE_SUPERADMIN permission #}

                    {% if is_granted('ROLE_SUPERADMIN') %}
                        <div class="col-xl-3 col-sm-3 mb-3">
                            <div class="card bg-apps-manager o-hidden h-100">
                                <a href="{{ path('list-apps') }}">
                                    <div class="card-body text-white">
                                        <div class="card-body-icon">
                                            <i class="fas fa-code-fork"></i>
                                        </div>
                                        <h5 class="mr-5 text-center">{{ 'application.list-title'|trans }}</h5>
                                    </div></a>
                            </div>
                        </div>

                    {% endif %}

{#  ROLE_ADMIN permission #}
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="col-xl-3 col-sm-3 mb-3">
                            <div class="card bg-info o-hidden h-100">
                                <a href="{{ path('list-users') }}">
                                    <div class="card-body text-white">
                                        <div class="card-body-icon">
                                            <i class="fas fa-group"></i>
                                        </div>
                                        <h5 class="mr-5 text-center">Gerenciar Usuários</h5>
                                    </div></a>
                            </div>
                        </div>

                    {% endif %}

{# ROLE_USER permission #}
                    {% if userapps|length > 0 %}
                        {% for application in userapps %}
                            <div class="col-xl-3 col-sm-3 mb-3">
                                <div class="card bg-apps-{{ loop.index % 4 }} o-hidden h-100">
                                    <a href="{{ application.uri }}">
                                        <div class="card-body text-white">
                                            <div class="card-body-icon">
                                                <i class="fas fa-tasks"></i>
                                            </div>
                                            <h5 class="mr-5 text-center">{{ application.name }}</h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="col-xl-3 col-sm-3 mb-3">
                        <div class="card bg-change-pass o-hidden h-100">
                            <a href="{{ path('change-password') }}">
                                <div class="card-body text-white">
                                    <div class="card-body-icon">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    <h5 class="mr-5 text-center">{{ 'reset-password.title'|trans }}</h5>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock user_content %}

