{% extends 'base.html.twig' %}

{% block user_content %}
    <div class="content-wrapper">
        {{ parent() }} {# Printing Messages inside Wrapper Content #}
        <div class="container">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('home') }}">{{ 'home'|trans }}</a></li>
                <li class="breadcrumb-item active">{{ 'application.list-name'|trans }}</li>
            </ol>
            <div class="row">
                <div class="col-12">
                    <h1>{{ 'application.list-title'|trans }}</h1>

                    <div class="card mb-3">
                        <div class="card-header bg-apps-manager">
                            <div class="row">
                                <div class="col-sm-8">
                                    <i class="fa fa-tasks fa-2x"></i> {{ 'application.list-description'|trans }}
                                </div>
                                <div class="col-sm-auto text-right">
                                    <a class="btn btn-sm btn-info" href="{{ path('main_application_new') }}">
                                        <span class="fas fa-plus-circle"></span> {{ 'application.new'|trans }}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            {% if app_list|length > 0 %}
                                <div class="table-responsive">
                                    <table class="table table-bordered dataTable table-striped compact form-group" width="100%"
                                           cellspacing="0">
                                        <thead class="bg-dark text-white">
                                        <tr>
                                            <th>{{ 'application.name'|trans }}</th>
                                            <th>{{ 'application.alias'|trans }}</th>
                                            <th>{{ 'application.options-name'|trans }}</th>
                                            <th>{{ 'application.status'|trans }}</th>
                                            <th>{{ 'actions'|trans }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for myapp in app_list %}
                                            <tr>
                                                <td>{{ myapp.name }}</td>
                                                <td>{{ myapp.alias }}</td>
                                                <td><ul class="small">
                                                        <li>
                                                            <span class="text-danger" title="URL de acesso">URL:</span>
                                                            <strong>{{ myapp.uri }}</strong>
                                                        </li>
                                                    {% for option in  myapp.options %}
                                                        <li>
                                                    <span{{ option.isrequired ?
                                                        (' class="text-danger" title="' ~ ('required'|trans) ~ '"')| raw :'' }}>
                                                        {{ option.name }}:
                                                    </span>
                                                    <strong>{{  ('option-attribute.labels.' ~ option.type) | trans }}</strong>
                                                            ({{ option }})
                                                        </li>
                                                    {% endfor %}
                                                    </ul>

                                                </td>
                                                <td>{{ (myapp.isActive == true ? 'active' : 'inactive')|trans }}</td>
                                                <td class="text-nowrap">
                                                    <a class="btn btn-info btn-sm fas fa-edit"
                                                       href="{{ path('main_application_edit', {'id' : myapp.id}) }}"
                                                       title="{{ 'edit'|trans }}"></a>

                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <div class="alert-warning">{{ 'empty-result'|trans }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock user_content %}
