{% extends 'layout.html.twig' %}

{% block user_content %}
    <div class="content-wrapper">
        {{ parent() }} {# Printing Messages inside Wrapper Content #}
        <div class="container">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('home') }}">{{ 'home'|trans }}</a></li>
                <li class="breadcrumb-item"><a href="{{ path('list-users') }}">{{ 'users.list'|trans }}</a></li>
                <li class="breadcrumb-item">{{ 'users.edit'|trans }}</li>
            </ol>
            <div class="row">
                <div class="col-12">
                    <h1>Editando as informações de <span class="text-success">{{ user.name }}</span></h1>

                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fa fa-2x fa-pencil"></i> Dados cadastrais de <strong><em>{{ user.name }}</em></strong>
                        </div>
                        <div class="card-body">

                          {{ form(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}