{% extends 'base.html.twig' %}

{% block user_content %}
    <div class="content-wrapper">
        {{ parent() }} {# Printing Messages inside Wrapper Content #}
        <div class="container">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('home') }}">{{ 'home'|trans }}</a></li>
                <li class="breadcrumb-item active">Usuários</li>
            </ol>
            <div class="row">
                <div class="col-12">
                    <h1>{{ 'users.list'|trans }}</h1>

                    <div class="card mb-3">
                        <div class="card-header bg-gradient-info">
                            <div class="row">
                                <div class="col-sm-8">
                                    <i class="fas fa-users"></i> {{ 'users.list-title'|trans }}
                                </div>
                                <div class="col-sm-auto text-right">
                                    <a class="btn btn-sm btn-warning"
                                       href="{{ path('new-user') }}"><span class="fa fa-user-plus"></span> {{ 'users.add'|trans }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">

                            {% if user_list|length > 0 %}
                                <div class="table-responsive">
                                    <table class="table table-bordered dataTable table-striped compact" width="100%"
                                           cellspacing="0">
                                        <thead class="bg-dark text-white">
                                        <tr>
                                            <th>#</th>
                                            <th>{{ 'users.name'|trans }}</th>
                                            <th>{{ 'users.username'|trans }}</th>
                                            <th>{{ 'users.email'|trans }}</th>
                                            <th>{{ 'users.profile'|trans }}</th>
                                            <th title="{{ 'users.created-at-title' }}">{{ 'created-at'|trans }}</th>
                                            <th title="Aplicativos Permitidos">{{ 'users.apps'|trans }}</th>
                                            <th>{{ 'users.status'|trans }}</th>
                                            <th>{{ 'actions'|trans }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for user in user_list %}
                                            <tr>
                                                <td>{{ loop.index }}</td>
                                                <td>{{ user.name }}</td>
                                                <td>{{ user.username }}</td>
                                                <td>{{ user.email }}</td>
                                                <td>{{ 'roles.names.%s'|format(user.profile)|trans }}</td>
                                                <td>{{ user.createdAt|date('d/m/Y H:i') }}</td>
                                                <td>{% if ((user.userApplication|length) > 0) %}
                                                        <ul class="small">
                                                        {% for userapp in user.userApplication %}
                                                        <li>{{ userapp.application.name }}</li>
                                                        {% endfor %}
                                                        </ul>
                                                    {% else %}
                                                        Nenhum aplicativo vinculado
                                                        {% endif %}
                                                </td>
                                                <td>{{ (user.isActive==true ? 'active':'inactive')|trans }}</td>
                                                <td>
                                                    {% if app.user.profile.level < user.profile.level %}
                                                    <a class="btn btn-info btn-sm fas fa-edit"
                                                       href="{{ path('edit-user', {'id' : user.id}) }}"
                                                       title="{{ 'users.edit'|trans }}"></a>
                                                        <a class="btn btn-sm bg-gradient-success fa fa-tasks"
                                                           href="{{ path('list-user-apps', {'id' : user.id}) }}"
                                                           title="{{ 'user-application.edit'|trans }}"></a>
                                                    {% endif %}
                                                    <span class="btn bg-gradient-warning btn-sm fa fa-envelope"
                                                          data-target="#resetPasswordModal"
                                                          data-userid="{{ user.id }}" role="button"
                                                          data-username="{{ user.name }}" data-toggle="modal"
                                                          title="{{ 'forgot-password.title'|trans }}"></span>


                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <div class="alert-warning">{{ 'empty-result'|trans }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Reset Password Modal-->
    <div class="modal fade" id="resetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="resetPasswordModalLabel"
         aria-hidden="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-gradient-info">
                    <h5 class="modal-title" id="resetPasswordModalLabel">{{ 'resetting.modal-title' | trans }}</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="{{ 'send'|trans }}">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">{{ 'resetting.modal-body'|trans|raw }}</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary cancel-btn" type="button" data-dismiss="modal">{{ 'cancel'|trans }}</button>
                    <button class="btn btn-primary resend-btn" type="button">{{ 'send'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock user_content %}

{% block js_codes %}

$(document).ready(function () {
    $('#resetPasswordModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('userid');
        var recipient = button.data('username');
        var modal = $(this);
        modal.find('.modal-body-user-name').text(recipient);
        modal.find('.resend-btn').click(function() {
            modal.find('.modal-body').text('{{ 'resetting.sending' | trans }}');
            modal.find('.resend-btn').hide();
            modal.find('.cancel-btn').hide();
            $.post('{{ path('send-redefine-password-email') }}', {id: id},
                function(response){
                    modal.find('.modal-header').removeClass('bg-gradient-info').addClass('bg-gradient-' +response.status);
                    modal.find('.modal-title').text(response.title);
                    modal.find('.modal-body').text(response.message);
                    modal.find('.cancel-btn').text('{{ 'close'|trans }}').show();
                },
            'json');
        });
    });
});


{% endblock js_codes %}