{% extends 'layout.html.twig' %}

{% block user_content %}
    <div class="content-wrapper">
        {{ parent() }} {# Printing Messages inside Wrapper Content #}
        <div class="container">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('home') }}">{{ 'home'|trans }}</a></li>
                <li class="breadcrumb-item active">Usuários</li>
            </ol>
            <div class="row">
                <div class="col-12">
                    <h1>Editar Usuário</h1>

                    <div class="card mb-3">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-10">
                                    <i class="fa fa-table"></i> {{ 'users.list-title'|trans }}
                                </div>
                                <div class="col-sm-auto text-right">
                                    <a class="btn btn-sm btn-success fa fa-plus-circle"
                                       href="{{ path('new-user') }}">{{ 'new'|trans }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">

                            {% if user_list|length > 0 %}
                                <div class="table-responsive">
                                    <table class="table table-bordered dataTable table-striped" width="100%"
                                           cellspacing="0">
                                        <thead class="bg-dark text-white">
                                        <tr>
                                            <th>#</th>
                                            <th>{{ 'users.name'|trans }}</th>
                                            <th>{{ 'users.username'|trans }}</th>
                                            <th>{{ 'users.email'|trans }}</th>
                                            <th>{{ 'users.profile'|trans }}</th>
                                            <th title="{{ 'users.created-at-title' }}">{{ 'created-at'|trans }}</th>
                                            <th title="Aplicativos Permitidos">{{ 'users.apps'|trans }}</th>
                                            <th>{{ 'users.status'|trans }}</th>
                                            <th>{{ 'actions'|trans }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for user in user_list %}
                                            <tr>
                                                <td>{{ loop.index }}</td>
                                                <td>{{ user.name }}</td>
                                                <td>{{ user.username }}</td>
                                                <td>{{ user.email }}</td>
                                                <td>{{ 'roles.names.%s'|format(user.profile)|trans }}</td>
                                                <td>{{ user.createdAt|date('d/m/Y H:i') }}</td>
                                                <td>{% for app in user.application %};</td>
                                                <td>{{ (user.isActive==true ? 'active':'inactive')|trans }}</td>
                                                <td class="text-nowrap">
                                                    <a class="btn btn-info btn-sm fa fa-edit"
                                                       href="{{ path('edit-user', {'id' : user.id}) }}"
                                                       title="{{ 'edit'|trans }}"></a>
                                                    <span class="btn btn-info btn-sm fa fa-envelope"
                                                          data-target="{{ user.id }}" role="button"
                                                          title="{{ 'forgot-password.title'|trans }}"></span>

                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <div class="alert-warning">{{ 'empty-result'|trans }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock user_content %}

{#% block my_postload_JSes  %}
    <script src="{{ asset('resources/list-users.js') }}"></script>
{% endblock my_postload_JSes  %#}

{% block js_codes %}

function addBSModal(message, header, type){
    var types = new RegExp(/(danger|info|primary|default|success|warning|secondary|light|dark)/g);
    var classtype = 'bg-default';
    if (!type) { type = 'default'};
    if (types.test(type) == true) {
    classtype = 'bg-' + type;
    }
    var customModal = $('<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="MyModalLabel" aria-hidden="true">' +
            '<div class="modal-dialog" role="document"><div class="modal-content">' +
            '<div class="modal-header ' + classtype + '"><h4 class="modal-title">' + header +
            '</h4><button class="close" type="button" data-dismiss="modal" aria-label="Close">' +
            '<span aria-hidden="true">×</span></button></div><div class="modal-body">' + message +
            '</div></div></div></div>');

    $('body').append(customModal);
    $(customModal).modal();
    $(customModal).on('hidden', function () { $(customModal).remove(); });
}

$(document).ready(function () {
    $('span[data-target].btn').click(
    function(){
    $.post('{{ path('send-redefine-password-email') }}', {id: $(this).data("target")},
    function(response){
    addBSModal(response.message, response.title, response.status);
    }, 'json');
    }
    );
});

{% endblock js_codes %}