{% extends 'base.html.twig' %}

{% block user_content %}
    <div class="content-wrapper">
        {{ parent() }} {# Printing Messages inside Wrapper Content #}
        <div class="container">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('home') }}">{{ 'home'|trans }}</a></li>
                <li class="breadcrumb-item"><a href="{{ path('main_application_index') }}">{{ 'application.list-name'|trans }}</a></li>
                <li class="breadcrumb-item">{{ 'options'|trans }}</li>
                <li class="breadcrumb-item">{{ 'new'|trans }}</li>
            </ol>
            <div class="row">
                <div class="col-12">
                    <h1>{{ 'application.new-title'|trans }}</h1>

                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fa fa-2x fa-plus-circle text-success fa-2x"></i> {{ 'application.new-form-title'|trans }}</em></strong>
                        </div>
                        <div class="card-body form-with-cols">
                          {{ form(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}