<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head lang="pt-br">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ settings.apptitle }} - Boas Vindas</title>
</head>
<body>
<table style='padding: 5px 10px; max-width: 700px; border-radius: 4px; background-color: #fff; margin:auto;margin:auto;font-size:15px;font-family:Calibri,Tahoma,Helvetica,Arial,sans-serif;'
       cellspacing="0" cellpadding="0">
    <tr>
        <td style="font-size:20px;font-weight:normal;text-align:center;background-color: rgb(13, 25, 253);color:#fff;border-radius:6px 6px 0 0;padding: 10px 5px">
            Seja bem-vindo <strong>{{ user.name }}</strong>!
        </td>
    </tr>
    <tr>
        <td style="text-indent:20px;border-right:1px solid rgb(13, 25, 253);border-left:1px solid rgb(13, 25, 253);padding:5px;margin-bottom:0;line-height: 19px;">
            <p>Seu cadastro no <strong>{{ settings.appname }} </strong>,
                está quase concluído.</p>
            <p>Para que possamos concluí-lo siga os passos abaixo:</p>
            <ul style="list-style-type: square; font-size: 15px; color: #202693; text-indent: 2px;">
                <li>Vá até o Portal de Serviços {{ settings.apptitle }}</li>
                <li>selecione {{ settings.appname }} e clique em <strong>Efetuar Login</strong></li>
                <li>Ao ser exibido o novo formulário de acesso, clique em <strong>Autenticar com Código de Verificação</strong> e
                    utilize o código <span style="min-width:200px;font-weight: bold; padding: 5px 15px; text-align: center; background-color: #bd3131; color: #fff; margin: auto; text-indent: initial; border-radius: 3px;">{{ code }}</span>
                    no campo e clique em <strong>Verificar código</strong>
                </li>
                <li>Preencha os campos para concluir seu cadastro, clique em Prosseguir e pronto.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td style="text-indent:20px;border-right:1px solid rgb(13, 25, 253);border-left:1px solid rgb(13, 25, 253);padding:5px;margin-bottom:0;">
            <p style="min-width:200px;font-weight: bold; padding: 5px 15px; text-align: center; background-color: #bd3131; color: #fff; display: table; margin: auto; text-indent: initial; border-radius: 3px;">
                Dúvidas? Ligue para (11) 3839-0063
            </p>
            <p></p>
            <p>Atenciosamente,<p>
            <p></p>
            <p>Seus amigos da <strong>{{ settings.apptitle }}</strong></p>
        </td>
    </tr>
    <tr>
        <td style="background-color:rgb(13, 25, 253);color:#dedede;border-radius:0px 0px 6px 6px;padding:10px 0 20px;margin-top:0;text-align: center; font-family: Helvetica, Arial, sans-serif;font-size: 11px;font-weight: lighter;">
            {{ settings.apptitle }}, Rua Mergenthaler, 1177, Vila Leopoldina, Cep 05311-030 SP Brasil
        </td>
    </tr>
</table>

</body>
</html>
